
.filelabel{
    margin-right: 55px;
}

.pic_box{
    border: 1px solid #d1d3e2;
    padding: 10px;
    margin: 10px 0px;
}

.custom_gallery_photos {
    border: 1px solid #d1d3e2;
    float: left;
    margin: 5px 0px;
    padding: 5px;
    min-height: 80px;
}


.custom-inline{
    display: inline;
}

.custom-size{
    width: 100%;
    max-width: 120px;
    object-fit: cover;
    height: 70px;
    max-height: 70px;
}


.img-custom-size{
    height: 70px;
    max-width: 120px;
}

.delete_img {
    position: absolute;
    margin-left: -20px;
    color: white;
    background: red;
    padding: 0px !important;
    line-height: 1;
}

.delete_img:hover{
    color: #ff0000;
    background: white;
    text-decoration: none;
}

.custm-btn-delete {
    position: absolute;
    margin-left: -72px;
    margin-top: 46px;
    color: white;
    background-color: red;
    padding: 0.3rem;
    line-height: 1;
}

.fileDiv {
    border: 1px solid #d1d3e2;
    padding: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    padding-bottom: 45px;
}

.custm-btn-delete:hover{
    color: red;
    background: white;
    border: 1px solid red;
}

.label_style{
    color: #4e73df;
    font-weight: 600;
}

label{
    color: #4e73df;
    font-weight: 600;
}

.image-box-admin{
    border: 1px solid #c5c5c5;
    padding: 20px;
    margin: 10px 0px;
}
